html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-family: helvetica, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: lighter;
  color: black;
}

#rectangle {
  width: 150px;
  height: 200px;
  background: #dddddd;
}

.result {
  display: flex;
  margin-left: 60px;
  padding: 10px;
  text-align: center;
}

text {
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bebebe;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ababab;
}

.active {
  background-color: teal;
}

.main_heading {
  color: black;
  font-weight: lighter;
}

.login_form {
  position: fixed;
  width: 340px;
  height: 280px;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -170px;
}

form {
  margin: 0 auto;
  margin-top: 20px;
}

label {
  color: teal;
  display: inline-block;
  margin-left: 18px;
  padding-top: 10px;
  font-size: 14px;
}

p a {
  font-size: 11px;
  color: black;
  float: right;
  margin-top: -13px;
  margin-right: 20px;
}

p a:hover {
  color: #050505;
}

input {
  font-family: "Helvetica Neue", helvetica, sans-serif;
  font-size: 12px;
  outline: none;
}

h2 {
  font-size: 64px;
  text-align: center;
  font-weight: lighter;
}
